<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="../../static/css/style.css">
  <link rel="stylesheet" href="../../static/css/nouislider.min.css">
  <script src="../../static/js/nouislider.min.js"></script>
</head>
<body>
  <h1>Le bassin du loft</h1>

  <div id="ebbSelector" style="width: 500px;">
    
  </div>
  <div>
    <br/><br/><br/><br/><br/><br/>
    <span id="addEbb">Ajouter</span>
  </div>

  <script>
    var range = document.getElementById('ebbSelector');

    var slider = noUiSlider.create(range, {

	range: {
		'min': 0,
		'max': 24
	},

	step: 0.1,

	// Handles start at ...
	start: [ '9', '19' ],

	// ... must be at least 300 apart
	margin: 0.5,

	// ... but no more than 600
	limit: 24,

	// Display colored bars between handles
	connect: false,

        // Put '0' at the bottom of the slider
        direction: 'ltr',
	orientation: 'horizontal',

	// Move handle on tap, bars are draggable
	behaviour: 'tap-drag',
	tooltips: true,

	// Show a scale with the slider
	pips: {
		mode: 'range',
		stepped: true,
		density: 1
	}
    });

    var addBtn = document.getElementById('addEbb');

    addBtn.onclick = function(event) {
        let val = slider.get();
    slider.destroy();
    console.log(val);
    console.log(val.concat(['1']));
    
        slider = noUiSlider.create(range, { range: { 'min': 0, 'max': 24 }, step: 0.1, start: ['1'].concat(val), tooltips: true, pips: { mode: 'range', stepped: true, density: 1 } });
    };
  </script>
</body>
</html>
