<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>Le bassin du loft</h1>

  <h2>Température</h2>

  <div class="wrap">
    <div id="plotTemperature" style="width: 100%; display: inline-block;"></div>
  </div>

  <h2>Niveau d'eau</h2>
  <div class="wrap">
    <div id="plotWaterLevel" style="width: 100%; display: inline-block;"></div>
  </div>

  <script type="text/javascript">
    const API_URL = '/aquaponie/api/';
    const BACK_POLL_FREQ = 2000;
    const POLL_FREQ = 60000;
    const TIME_RANGE = 12;

    const graphes = {
	temperature: {
	    api_endpoint: 'temperature',
	    x: 'date',
	    y: 'temperature',
	    node: 'plotTemperature',
	    stacked: 0,
	    datas: {{ temperatures|safe }},
	},
	waterLevel: {
	    api_endpoint: 'water_level',
	    api_extra: '&bac=culture_med',
	    x: 'date',
	    y: 'level',
	    node: 'plotWaterLevel',
	    stacked: 0,
	    datas: {{ waterLevels|safe }},
	},
	pumpState: {
	    api_endpoint: 'pump_state',
	    x: 'date',
	    y: 'state',
	    node: 'plotWaterLevel',
	    stacked: 1,
	    datas: {{ pumpStates|safe }},
	}
    }

    function formatData(graph, datas, first = false) {
	let trace = {
	    x: [datas.map((d) => d[graph.x])],
	    y: [datas.map((d) => d[graph.y])]
	};
	if (first)
	    trace = [{ x: trace.x[0], y: trace.y[0], type: 'scatter'}];
	
	return trace;
    }

    function refreshGraph(graph, way, freq) {
	let url = API_URL + graph.api_endpoint;
	if (way == 'backward') {
	    url += "?ordering=-date&date_lt=" + graph.datas[0].date;
	} else {
	    url += "?ordering=date&date_gt=" + graph.datas[graph.datas.length - 1].date;
	}
	url += (graph.api_extra || '');
	
	Plotly.d3.json(url, function(error, figure) {
	    if (figure) {
		if (figure.count == 0 && way == 'backward') {
		    console.log("Back polling complete for " + graph.api_endpoint);
		    return 0;
		}
		
		if (way == 'backward') {
		    const datas = figure.results.reverse();
		    graph.datas = datas.concat(graph.datas);
		    
		    Plotly.prependTraces(graph.node, formatData(graph, datas), [graph.stacked]);
		} else {
		    const datas = figure.results;
		    graph.datas = graph.datas.concat(datas);
		    
		    Plotly.extendTraces(graph.node, formatData(graph, datas), [graph.stacked]);

		    const new_now = new Date();
		    const layout = { 'xaxis.range': [begin.getTime(), new_now.getTime()] };
		    Plotly.relayout(graph.node, layout);
		}
	    } else {
		console.log(error);
	    }
	    
	    window.setTimeout(refreshGraph, freq, graph, way, freq);
	});
    }

    // Prepare layout for graphes

    const now = new Date();
    const begin = new Date();
    begin.setHours(begin.getHours() - TIME_RANGE);

    const layoutT = {
	title: 'Température',
	xaxis: {
	    type: 'date',
	    range: [begin.getTime(), now.getTime()]
	},
    };

    const layoutM = {
	title: 'Marées',
	xaxis: {
	    type: 'date',
	    range: [begin.getTime(), now.getTime()]
	},
	yaxis: {
	    rangemode: 'tozero',
	},
	yaxis2: {
	    title: 'État de la pompe',
	    overlaying: 'y',
	    rangemode: 'tozero',
	    side: 'right',
	    tickvals: [0, 1],
	    ticktext: ['Éteinte', 'Allumée'],
	}
    };

    window.onload = function(e) {
    	const traceT = formatData(graphes.temperature, graphes.temperature.datas, true);
    	Plotly.newPlot('plotTemperature', traceT, layoutT);
	
    	const traceW = formatData(graphes.waterLevel, graphes.waterLevel.datas, true);
	const traceP = formatData(graphes.pumpState, graphes.pumpState.datas, true);
	traceP[0].yaxis = 'y2'; traceP[0].name = 'pompe'; traceP[0].fill = 'tozeroy';
	traceP.name = 'mediane';

	console.log(traceW);
	console.log(traceP);

    	Plotly.newPlot('plotWaterLevel', traceW.concat(traceP), layoutM);
	
    	// Start polling
    	for (let g in graphes) {
    	    refreshGraph(graphes[g], 'backward', BACK_POLL_FREQ);
    	    refreshGraph(graphes[g], 'forward', POLL_FREQ);
    	}
    }
  </script>
</body>
</html>
 
