<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <h1>Le bassin du loft</h1>

  <h2>Température</h2>

  <div class="wrap">
    <div id="plotTemperature" style="width: 100%; display: inline-block;"></div>
  </div>

  <div class="wrap">
    <div id="plotWaterLevel" style="width: 100%; display: inline-block;"></div>
  </div>

  <script>
    var temp = {{ temperatures|safe }};
    var traceT = [
      {
        x: temp[0],
        y: temp[1],
        type: 'scatter',
      },
    ];

    var now = new Date();
    var begin = new Date();
    begin.setHours(begin.getHours() - 12);

    var layoutT = {
    title: 'Température',
    xaxis: {
    range: [begin.getTime(), now.getTime()],
    type: 'date'
    },
    };

    Plotly.newPlot('plotTemperature', traceT, layoutT);

    var state = {{ pumpStates|safe }};
    var data = {{ waterLevels|safe }};
    var data2 = {{ waterLevels2|safe }};
    var trace = [
      {
        x: state[0],
        y: state[1],
        yaxis: 'y2',
        name: 'pompe',
        type: 'scatter',
        fill: 'tozeroy',
        mode: 'none',
      },
      {
        x: data[0],
        y: data[1],
        name: 'mediane',
        type: 'scatter',
      },
      {
        x: data2[0],
        y: data2[1],
        name: 'regression',
        type: 'scatter',
      }
    ];

    var now = new Date();
    var begin = new Date();
    begin.setHours(begin.getHours() - 6);

    var layout = {
      title: 'Custom Range',
      xaxis: {
        range: [begin.getTime(), now.getTime()],
        type: 'date'
      },
      yaxis: {
        rangemode: 'tozero',
      },
      yaxis2: {
        title: 'État de la pompe',
        overlaying: 'y',
        rangemode: 'tozero',
        side: 'right',
        tickvals: [0, 1],
        ticktext: ['Éteinte', 'Allumée'],
      }
    };

    Plotly.newPlot('plotWaterLevel', trace, layout);
</script>
</body>
</html>
